<!DOCTYPE html>
<ion-header>
  <ion-navbar>
    <ion-title>
      My Bookings
    </ion-title>
		
    <ion-buttons end>
			<livechat-bubble></livechat-bubble> 
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

	<ion-list>
		<!--<booking-row *ngFor="let b of bookings"></booking-row>-->
		<ion-card *ngFor="let b of bookings" (click)="viewBooking()" padding>
			<ion-row>
				<div class="card-title" text-left>{{ b.destination }}</div>
				<div class="card-subtitle" text-right><span class="{{b.status | lowercase}}">{{ b.status }}</span></div>
			</ion-row>
			<ion-row>
				<div width-50 class="card-subtitle" text-left><ion-icon name="calendar"></ion-icon> {{ b.date | date }}</div>
				<div offset-25 class="card-subtitle" text-right>{{ b.total_cost }}<ion-icon name="logo-euro"></ion-icon></div>
			</ion-row>
		</ion-card>

		<!--<ion-item-sliding #item *ngFor="let b of bookings" (click)="viewBooking()" padding>
				<ion-item>
					<ion-card>
						<ion-row>
							<div class="card-title" text-left>{{ b.destination }}</div>
							<div class="card-subtitle" text-right><span class="{{b.status | lowercase}}">{{ b.status }}</span></div>
						</ion-row>
						<ion-row>
							<div width-50 class="card-subtitle" text-left><ion-icon name="calendar"></ion-icon> {{ b.date | date }}</div>
							<div offset-25 class="card-subtitle" text-right>{{ b.total_cost }}<ion-icon name="logo-euro"></ion-icon></div>
						</ion-row>
					</ion-card>
				</ion-item>
				<ion-item-options side="right">
					<button ion-button >
						<ion-icon name="archive"></ion-icon>
						Archive
					</button>
				</ion-item-options>
		</ion-item-sliding>-->


		<div id="addBookingBtn" text-center>
			<ion-icon name="add-circle" (click)="addNewBooking()"></ion-icon>
		</div>

	</ion-list>

</ion-content>
