<!DOCTYPE html>
<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <home-button></home-button>
    </ion-buttons>

    <ion-title text-center>
      #ref855361
    </ion-title>
		
    <ion-buttons end>
			<livechat-bubble></livechat-bubble> 
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div class="booking-request" padding text-left>
    <h3 class="heading">
      Your booking request
    </h3>
    <span>Your card will be charged, <br/> ONLY IF your request is accepted.</span>
    <span class="redline"></span>
    <ion-row>
      <span>Reference #</span>
      <span>ref32478dhud</span>
    </ion-row>
    <ion-row>
      <span>Status</span>
      <span>Unclaimed</span>
    </ion-row>
    <span class="redline"></span>
    <ion-row>
      <span>Room price</span>
      <span>&euro; 34.00</span>
    </ion-row>
    <ion-row>
      <span>Location</span>
      <span>Paros, Greece</span>
    </ion-row>
    <ion-row>
      <span>Check-In</span>
      <span>Jun 29, 2017</span>
    </ion-row>
    <ion-row>
      <span>Check-Out</span>
      <span>Jul 09, 2017</span>
    </ion-row>
    <ion-row>
      <span>Guests</span>
      <span>2</span>
    </ion-row>
    <ion-row>
      <span>Hotel stars</span>
      <ion-icon name="star" *ngFor="let s of [1,2,3]"></ion-icon>
    </ion-row>
    <ion-row>
      <span>Wifi</span>
      <span>Yes</span>
    </ion-row>
    <ion-row>
      <span>Pool</span>
      <span>Not required</span>
    </ion-row>
    <span class="redline"></span>
    <ion-row>
      <span>Total cost</span>
      <span>&euro; 240.00</span>
    </ion-row>
  </div>

  <div class="payment-method" padding text-left>
    <h3 class="heading">
      Your payment <br/> method
    </h3>
    <span class="redline"></span>
    <p>
      You will be acharged only if your request is accepted. Your card will be removed <br/>
       from our system after transaction, or expiration of this request.
    </p>
  </div>
  <div class="card-details">
    <span>
      <ion-icon name="card"></ion-icon>
    </span>
    <span> **** **** **** 1111 </span>
    <button ion-button color="default" class="button-block" large clear><ion-icon name="create" left></ion-icon><span>EDIT</span></button>
  </div>

</ion-content>