<!DOCTYPE html>
<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <home-button *ngIf="isConfirm"></home-button>
      <button *ngIf="!isConfirm" class="homeButton" color="light" ion-button icon-only (click)="back()">
        <div style="width: 50px; display: block;">
            <ion-icon name="arrow-round-back" style="display: block; color: #333;"></ion-icon>
            <span style="display: block; color: #333;">Back</span>
        </div>
      </button>
    </ion-buttons>

    <ion-title text-center>
      {{booking.ref}}
    </ion-title>
		
    <ion-buttons end>
			<livechat-bubble></livechat-bubble> 
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ab-spinner [isVisible]="show" [text]="showText"></ab-spinner>
<ion-content padding>
  <div class="booking-confirmation" padding text-center *ngIf="isConfirm">
      <!--<button color="secondary" class="successButton" ion-button icon-only>-->
        <div class="successButton" style="width: 50px; display: block;">
            <ion-icon name="checkbox" style="display: block;"></ion-icon>
        </div>
      <!--</button>-->
      <h3 padding text-center>
        GREAT! <br/> Your request has been successfully submitted!
      </h3>
      <span padding text-center>You will get notified when a hotel owner accepts your request</span>
  </div>
  <div class="booking-request" padding text-left>
    <div class="head-container" text-center>
      <h3 class="heading">
        Your booking request
      </h3>
      <span>Your card will be charged, <br/> ONLY IF your request is accepted.</span>
    </div>
    <span class="redline"> </span>
    <ion-row class="ref-section">
      <span class="left-title">Reference #</span>
      <span class="right-value">{{booking.ref}}</span>
    </ion-row>
    <ion-row class="ref-section" [ngSwitch]="booking.status">
      <span class="left-title">Status</span>
      
      <span class="right-value" *ngSwitchCase="0">Unclaimed</span>
      <span class="right-value" *ngSwitchCase="1">Claimed</span>
      <span class="right-value" *ngSwitchCase="2">Expired</span>
      <span class="right-value" *ngSwitchCase="3">Canceled</span>
    </ion-row>
    <span class="redline"></span>
    <ion-row>
      <span class="left-title">Room price</span>
      <span class="right-value">&euro; {{booking.room_price}}</span>
    </ion-row>
    <ion-row>
      <span class="left-title">Location</span>
      <span class="right-value">{{booking.city}}, {{booking.country}}</span>
    </ion-row>
    <ion-row>
      <span class="left-title">Check-In</span>
      <span class="right-value">{{booking.checkin}}</span>
    </ion-row>
    <ion-row>
      <span class="left-title">Check-Out</span>
      <span class="right-value">{{booking.checkout}}</span>
    </ion-row>
    <ion-row>
      <span class="left-title">Guests</span>
      <span class="right-value">{{booking.persons}}</span>
    </ion-row>
    <ion-row>
      <span class="left-title">Rooms</span>
      <div [ngSwitch]="booking.double_rooms">
        <span class="right-value" *ngSwitchCase="1">{{booking.double_rooms}} double bedroom</span>
        <span class="right-value" *ngSwitchDefault>{{booking.double_rooms}} double bedrooms</span>
      </div>
    </ion-row>
    <ion-row>
      <span class="left-title">Hotel stars</span>
      <ion-icon  class="right-value" name="star" *ngFor="let s of stars"></ion-icon>
      <ion-icon class="right-value" name="add" *ngIf="star < 5"></ion-icon>
    </ion-row>
    <ion-row>
      <span class="left-title">Wifi</span>
      <span class="right-value">{{booking.wifi}}</span>
    </ion-row>
    <ion-row>
      <span class="left-title">Pool</span>
      <span class="right-value">{{booking.pool}}</span>
    </ion-row>
    <span class="redline"></span>
    <ion-row class="total-cost">
      <span class="total-title">Total cost</span>
      <span class="total-value">&euro; {{booking.price}}</span>
    </ion-row>
    <div class="time-remaining-title">
      <span >TIME LEFT TO ACCEPT YOUR REQUEST</span>
    </div>
  </div>
  <ab-countdown [expiration]="booking.expires_in_secs" [evaluate]="evaluate" (onExpire)="onExpiration($event)"></ab-countdown>
  <div class="payment-method" padding text-center>
    <h3 class="heading">
      Your payment <br/> method
    </h3>
    <span class="redline"></span>
    <p>
      You will be acharged only if your request is accepted. Your card will be removed <br/>
       from our system after transaction, or expiration of this request.
    </p>
  </div>
  <div class="card-details" text-center padding>
    <span class="card-img">
      <!--<ion-icon name="card"></ion-icon>-->
      <ab-card-icon [card]="booking.card"></ab-card-icon>
    </span>
    <span class="card-number"> **** **** **** {{booking.card_last_digits}} </span>
    <button ion-button color="default" class="button-block edit-btn" [disabled]="!evaluate || booking.payment_status!='failed'" large clear (click)="recharge(booking)"><ion-icon name="create" left></ion-icon><span>RECHARGE</span></button>
  </div>

  <div class="cancel-button" style="background-color: transparent;" text-center>
    <button ion-button color="default" class="button-block" large (click)="cancel(booking)"><span>Cancel your booking request</span></button>
  </div>

</ion-content>