<!DOCTYPE html>
<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <home-button></home-button>
    </ion-buttons>

    <ion-title text-center>
      #ref855361
    </ion-title>
		
    <ion-buttons end>
			<livechat-bubble></livechat-bubble> 
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div class="booking-confirmation" padding text-center *ngIf="isConfirm">
      <!--<button color="secondary" class="successButton" ion-button icon-only>-->
        <div class="successButton" style="width: 50px; display: block;">
            <ion-icon name="checkbox" style="display: block;"></ion-icon>
        </div>
      <!--</button>-->
      <h3 padding text-center>
        GREAT! <br/> Your request has been successfully submitted!
      </h3>
      <span padding text-center>You will get notified when a hotel owner accepts your request</span>
  </div>
  <div class="booking-request" padding text-left>
    <div class="head-container" text-center>
      <h3 class="heading">
        Your booking request
      </h3>
      <span>Your card will be charged, <br/> ONLY IF your request is accepted.</span>
    </div>
    <span class="redline"> </span>
    <ion-row class="ref-section">
      <span class="left-title">Reference #</span>
      <span class="right-value">ref32478dhud</span>
    </ion-row>
    <ion-row class="ref-section">
      <span class="left-title">Status</span>
      <span class="right-value">Unclaimed</span>
    </ion-row>
    <span class="redline"></span>
    <ion-row>
      <span class="left-title">Room price</span>
      <span class="right-value">&euro; 34.00</span>
    </ion-row>
    <ion-row>
      <span class="left-title">Location</span>
      <span class="right-value">Paros, Greece</span>
    </ion-row>
    <ion-row>
      <span class="left-title">Check-In</span>
      <span class="right-value">Jun 29, 2017</span>
    </ion-row>
    <ion-row>
      <span class="left-title">Check-Out</span>
      <span class="right-value">Jul 09, 2017</span>
    </ion-row>
    <ion-row>
      <span class="left-title">Guests</span>
      <span class="right-value">2</span>
    </ion-row>
    <ion-row>
      <span class="left-title">Hotel stars</span>
      <ion-icon  class="right-value" name="star" *ngFor="let s of [1,2,3]"></ion-icon>
    </ion-row>
    <ion-row>
      <span class="left-title">Wifi</span>
      <span class="right-value">Yes</span>
    </ion-row>
    <ion-row>
      <span class="left-title">Pool</span>
      <span class="right-value">Not required</span>
    </ion-row>
    <span class="redline"></span>
    <ion-row class="total-cost">
      <span class="total-title">Total cost</span>
      <span class="total-value">&euro; 240.00</span>
    </ion-row>
    <div class="time-remaining-title">
      <span >TIME LEFT TO ACCEPT YOUR REQUEST</span>
    </div>
  </div>
  <div class="time-remaining" text-center padding>
    <ion-row>
      <div class="remaining-container">
        <span class="remaining-value">00</span>
        <span class="remaining-title">days</span>
      </div>
      <div class="remaining-container">
        <span class="remaining-value">10</span>
        <span class="remaining-title">hours</span>
      </div>
      <div class="remaining-container">
        <span class="remaining-value">30</span>
        <span class="remaining-title">minutes</span>
      </div>
      <div class="remaining-container">
        <span class="remaining-value">20</span>
        <span class="remaining-title">seconds</span>
      </div>
    </ion-row>
  </div>

  <div class="payment-method" padding text-center>
    <h3 class="heading">
      Your payment <br/> method
    </h3>
    <span class="redline"></span>
    <p>
      You will be acharged only if your request is accepted. Your card will be removed <br/>
       from our system after transaction, or expiration of this request.
    </p>
  </div>
  <div class="card-details" text-center padding>
    <span class="card-img">
      <ion-icon name="card"></ion-icon>
    </span>
    <span class="card-number"> **** **** **** 1111 </span>
    <button ion-button color="default" class="button-block edit-btn" large clear><ion-icon name="create" left></ion-icon><span>EDIT</span></button>
  </div>

  <div class="cancel-button" style="background-color: transparent;" text-center>
    <button ion-button color="default" class="button-block" large><span>Cancel your booking request</span></button>
  </div>

</ion-content>