page-home {
	background-image: url('../assets/images/home-hero-with-gradient.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	

	.transparencyFilter{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.2 !important;
		width: 100%;
		height: 100%;
		background-color: #fff;
	}

	ion-content{
		background-color: transparent !important;
	}
	section{
		width: 100%;
	}

	.ios #homeheader img{
		margin-top: 15px !important;
	}

	ion-grid{
		z-index: 100;

		img#logo{
			// background-image: url('../assets/images/logo-Travelusive.png');
			background-size: cover;
			background-repeat: no-repeat;
		    width: 100%;
		    height: 50px;
		}
	}


	#homepage div {
		margin-top: 5vh;
		font-family: "Stardos Stencil", serif;
	}

	#homepage h1:before, #homepage h1:after{
		content: '';
		background: #fff;
		display: block;
		width: 95px;
		height: 5px;
		margin: 0 auto;
	}

	#homepage h1:before{
		margin-bottom: 37px;
	}

	#homepage h1:after{
		margin-top: 33px;
	}


	#homepage h1{
		color: #fff;
		font-size: 56px;
	}

	#homepage p{
		color: #fff;
		font-size: 26px;
	}

	#homebuttons {
		button{
			background-color: rgba(238, 238, 238, 0.2);
		}
	}
}
