<!DOCTYPE html>
<ion-header>
  <ion-navbar>
    <ion-title>
      New Booking
    </ion-title>

    <ion-buttons end>
        <livechat-bubble></livechat-bubble>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="stepsContainer" padding text-center>
    <div class="" text-center>
        <ion-row>
            <h2 clas="hotelResultsHeading heading-number">3</h2>
            <h2 class="hotelResultsHeading">Hotels Found</h2>
        </ion-row>        
        
    </div>
    <div class="mapContainer">
        <ab-map 
            [lat]="LatLng.lat" 
            [lng]="LatLng.lng"
            [zoom]="zoom"
            [radius]="bookingRequest.distance"
        >
        </ab-map>
        <!--<sebm-google-map #map 
                [latitude]="LatLng.lat" 
                [longitude]="LatLng.lng" 
                [draggable]="false" 
                [zoom]="zoom" 
                [mapDraggable]="false" 
                [streetViewControl]="false" 
                [disableDefaultUI]="true" 
                [disableDoubleClickZoom]="true"
                [scrollwheel]="false"
                [zoomControl]="false"
                [usePanning]="false"
                [styles]="mapStyles"
                 >
        </sebm-google-map>-->
        <div class="glassfilter"></div>
    </div>
    <div class="stepThreeConfigs" text-center>
        <!--<ion-item>-->
            <ion-range color="default" min="1000" max="5000" step="500" snaps="true" pin=true (ionChange)="distanceChanged(bookingRequest.distance)" [(ngModel)]="bookingRequest.distance">
            </ion-range>
        <!--</ion-item>-->
        <div class="starsContainer">
            <!--<h2>Somewhere specific</h2>-->
            <ion-row>
                <ion-item>
                    <ion-checkbox color="default" [(ngModel)]="bookingRequest.stars[0]"></ion-checkbox>
                    <ion-label>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[0]}"></ion-icon>
                    </ion-label>
                </ion-item>
                <ion-item style="margin-left: auto !important; margin-right: auto;">
                    <ion-checkbox color="default" [(ngModel)]="bookingRequest.stars[1]"></ion-checkbox>
                    <ion-label>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[1]}"></ion-icon>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[1]}"></ion-icon>
                    </ion-label>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-checkbox color="default" [(ngModel)]="bookingRequest.stars[2]"></ion-checkbox>
                    <ion-label>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[2]}"></ion-icon>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[2]}"></ion-icon>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[2]}"></ion-icon>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-checkbox color="default" [(ngModel)]="bookingRequest.stars[3]"></ion-checkbox>
                    <ion-label>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[3]}"></ion-icon>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[3]}"></ion-icon>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[3]}"></ion-icon>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[3]}"></ion-icon>
                    </ion-label>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-item>
                    <ion-checkbox color="default" [(ngModel)]="bookingRequest.stars[4]"></ion-checkbox>
                    <ion-label>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[4]}"></ion-icon>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[4]}"></ion-icon>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[4]}"></ion-icon>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[4]}"></ion-icon>
                        <ion-icon name="star" [ngClass]="{'active': bookingRequest.stars[4]}"></ion-icon>
                    </ion-label>
                </ion-item>
            </ion-row>
        </div>
        <div class="extrasContainer" text-center>
            <ion-row>
                <ion-item width-40 offset-10>
                    <ion-checkbox color="default" [(ngModel)]="bookingRequest.wifi"></ion-checkbox>
                    <ion-label style="color: #222">Wifi</ion-label>
                </ion-item>

                <!--<ion-icon ios="ios-wifi" md="ios-wifi">Wifi</ion-icon>-->
                <ion-item width-40 offset-10>
                    <ion-checkbox color="default" [(ngModel)]="bookingRequest.pool"></ion-checkbox>
                    <ion-label style="color: #222">Swimming Pool</ion-label>
                </ion-item>
                <!--<ion-icon ios="md-wifi" md="md-wifi"></ion-icon>-->
            </ion-row>
        </div>
    </div>
    <div class="bottomSectionBtn" (click)="next(bookingRequest)">
        <button ion-button class="button-block" large outline color="default" outline>MAKE A REQUEST</button>
    </div>
</ion-content>