.stepsContainer{
    background-color: #fff;
}

.stepsContainer ion-item{
    background-color: transparent !important;
    padding-left: 0 !important;
}
.stepsContainer ion-item ion-label{
    color: #f33617 !important;
    background-color: transparent !important;
    margin-left: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.stepsContainer .item-inner{
    padding-right: 0 !important;
    border-bottom: none !important;
}

.stepsContainer .input-wrapper{
    display: inline-block;
}

.stepsContainer .select-icon-inner {
    color: #f33617 !important;
    left: 5px !important;
    margin-top: 0px !important;
    margin-left: -15px !important;
}

.stepsContainer ion-select{
    max-width: 100% !important;
    height: 60px !important;
}

.stepsContainer ion-input {
    border: 2px solid #f33617;
    width: 100%;
    height: 60px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

    .input-cover {
        position: static;
    }

    .sebm-google-map-container {
    height: 300px;
    }

    .pac-container {
        border-bottom-right-radius: 6px !important;
        border-bottom-left-radius: 6px !important;
        box-shadow: none !important;
        box-shadow: 0px 2px 4px -2px rgba(161, 161, 161, 0.47) !important;
    }

    .pac-container:after {
        background-image: none !important;
        display: none !important;
    }

    .pac-item {
        padding: 1em 2em 1em 2.2em !important;
        background-color: #fff !important;
    }

    .pac-item-selected {
    padding: 1em 2em 1em 2.2em !important;
    background-color: #e6f1f9 !important;
    }

    .pac-item:hover {
        background-color: #fff !important;
    }

    .pac-item:first-child {
        border-top: none !important;
    }

    .pac-matched {
        font-weight: normal !important;
    }

    .pac-item-query {
        font-family: fira-sans-regular !important;
        font-size: 1.3em !important;
        color: #000 !important;
    }

    .pac-icon {
        display: none !important;
    }

ion-content h2.heading{
    margin-top: 20px !important;
} 

div h2{
    color: #f33617;
    margin-top: 20px;
    font-size: 30px;
    line-height: 34px;
}

input{
    font-size: 24px;
    line-height: 28px;
    padding: 5px;
    border: none;
    text-align: center;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #cecece;
}

// div.inputContainer ion-item{
//     background-color: transparent !important;
// }
// div.inputContainer ion-item .item-inner{
//     border: none !important;
// }

// input:focus{
//     border-bottom: 1px solid #f33617;
// }

.bottomSectionBtn{
    margin-top: 50px;
}

.dropdown{
    background-color: transparent;
    text-align: center;
    padding: 10px;
    font-size: 26px;
    line-height: 28px;
    width: 100%;
    // margin-top: 20px !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 2px solid #f33617;
}


bookingStep-One{

    

    .stepOnePrice{
        margin-top: 30px;
    }

    .stepsContainer .stepOnePrice input:focus{
        border-bottom: 1px solid #f33617;
    }

    div.inputContainer{
        text-align: center;
        width: 50%;
        margin-top: 20px !important;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .stepsContainer div ion-row {
        margin-top: 20px !important;
        margin-bottom: 10px;
    }

    .stepOneLocation{
        margin-top: 40px;
    }

    div ion-row ion-col.symbol {
        font-size: 1.5em;
        line-height: 1.7em;
        color: #f33617;
        margin-left: -35px;
    }

    div ion-row ion-col input {
        text-align: right;
        padding-right: 25px;
        padding-left: 5px;
    }

    div.inputContainer:last-child{
        width: 100%;
    }

    div.inputContainer input{
        height: 56px;
        border: 2px solid #f33617;
    }

}

bookingStep-Two{
    .inputContainer{
        margin-top: 20px;
    }


    .calendar-pre, .calendar-pre.calendar-open {
        border: 2px solid #f33617;
        // margin: 0 41px 0 39px;
    }

    .calendar-pre .form-item:first-child,
    .calendar-pre.calendar-open .form-item:first-child {
        padding-left: 10px !important;
        text-align: left;
        border-bottom: 1px solid #f33617 !important;
    }

    .calendar-pre .form-item:last-child,
    .calendar-pre.calendar-open .form-item:last-child {
        padding-left: 10px !important;
        text-align: left;
        border-top: 1px solid #f33617 !important;
    }

    .calendar-pre .form-item,
    .calendar-pre.calendar-open .form-item {
        height: 40px !important;
        font-size: 20px !important;
        line-height: 24px !important;
        padding: 5px 0px !important;
        position: relative !important;
    }

    .calendar-pre.calendar-open .form-item.check-out .check {
        right: 20px;
    }

    .calendar-pre.calendar-open .calendar-field {
        border: none;
    }

    .calendar-container {
        text-align: left;
    }

    .calendar-container .calendar-field {
        display: inline-block;
        background: #fff;
        color: #222;
        font-size: 24px;
        font-weight: normal;
        text-align: left;
        border: 2px solid #f33617;
        width: 250px;
        height: 60px;
        padding: 16px 20px;
        cursor: pointer;
    }

    .calendar-container .calendar-field.calendar-open {
        border: none;
    }

    .calendar-container .calendar-field.inactive {
        opacity: 0.3;
        cursor: default;
    }

    .calendar-container .calendar-field.arrow {
        color: #f33617;
        display: inline-block;
        text-align: center;
        padding-top: 0;
        border: none;
        cursor: default;
    }

    .calendar-container .calendar-field.arrow i {
        font-size: 60px;
    }

    .calendar-main {
        color: #222;
        // padding: 20px 20px 0;
        overflow: auto;
        border: 2px solid #f33617;
        border-top: none;
        // margin: 0 41px 30px 39px;
    }

    .calendar-main .mobile-months {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        opacity: 0.3;
        display: none;
    }

    .calendar-main .mobile-months .month-shown {
        display: inline-block;
        margin: 0 15px;
    }

    .calendar-main .mobile-months .month-prev,
    .calendar-main .mobile-months .month-next {
        display: inline-block;
    }

    .calendar-main .mobile-months .month-prev i,
    .calendar-main .mobile-months .month-next i {
        vertical-align: bottom;
    }

    .calendar-main .months {
        width: 8%;
        float: left;
        padding: 20px 0 0;
    }

    .calendar-main .month {
        display: block;
        padding-bottom: 15px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        opacity: 0.3;
        height: 65px;
    }

    .calendar-main .month.empty {
        height: 54px;
    }

    .calendar-main .days,
    .calendar-main .dates {
        width: 92%;
        padding: 20px;
        float: left;
    }

    .calendar-main .days span,
    .calendar-main .dates > span {
        display: inline-block;
        width: 14%;
        float: left;
        text-align: center;
        margin-bottom: 15px;
    }

    .calendar-main .days {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 0;
    }

    .calendar-main .dates {
        z-index: 10;
        padding: 0 20px;
    }

    .calendar-main .dates span > span {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 12px 0;
        cursor: pointer;
    }

    .calendar-main .dates span.hoverable > span:hover {
            background: #FBC2B9;
            border-radius: 50%;
    }

    .calendar-main .dates .unavailable {
        opacity: 0.3;
    }

    .calendar-main .dates .selected {
        position: relative;
        padding: 0;
        text-align: center;
    }

    .calendar-main .dates .selected span {
        color: #fff;
        background: #f33617;
        border-radius: 50%;
    }

    .calendar-main .dates .selected.selected-from, .calendar-main .dates .selected.selected-to {
        z-index: 10;
    }

    .calendar-main .dates .selected.selected-from:after, .calendar-main .dates .selected.selected-to:after {
        content: '';
        background-color: #FBC2B9;
        display: inline-block;
        width: 60%;
        height: 40px;
        position: absolute;
        top: 5px;
        z-index: -1;
    }

    .calendar-main .dates .selected.selected-from:after {
        right: -20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .calendar-main .dates .selected.selected-to:after {
        left: -20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        z-index: -1;
    }

    .calendar-main .dates .in-between {
        height: 50px;
        z-index: 10;
    }

    .calendar-main .dates .in-between span {
        background-color: #FBC2B9;
        width: 100%;
        height: 40px;
        display: inline-block;
        margin: 5px 0;
        padding: 8px 0;
        position: relative;
    }

    .calendar-main .dates .in-between span:before, .calendar-main .dates .in-between span:after {
        content: '';
        background-color: #FBC2B9;
        display: inline-block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        border-radius: 50%;
    }

    .calendar-main .dates .in-between span:before {
        left: -18px;
    }

    .calendar-main .dates .in-between span:after {
        right: -18px;
    }
}

bookingStep-Three{

    .stepsContainer .stepThreeConfigs .range-knob{
        top: -22px !important;
        left: 5px !important;
        width: 38px !important;
        height: 68px !important;
        border: none !important;
        border-radius: 0% !important;
        background: transparent !important;
        background-image: url(../assets/images/range-thumb-icon-2.png) !important;
        background-repeat: no-repeat !important;
    }
    
    .stepsContainer .stepThreeConfigs .range-pin{
        top: 38px !important;
        min-width: 30px !important;
        height: 30px !important;
        background: transparent !important;
    }

    .stepsContainer .stepThreeConfigs .range-pin::before{
        border-radius: 50% 0% 50% 50% !important;
    }

    div h2.hotelResultsHeading{
        font-size: 36px !important;
        line-height: 38px !important;
        color: #111 !important;
        font-family: "Stardos Stencil", serif !important;
        margin: auto !important;
    }
    div h2.hotelResultsHeading.heading-number{
        color: #f33617 !important;
    }

    .mapContainer{
        margin-top: 20px;
        margin-bottom: 20px;
        // width: 100%;
        height: 300px;
        position: relative; 
        margin-left: -16px;
        margin-right: -16px;
    }

    .stepThreeConfigs{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .glassfilter{
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
    }

    $checkbox-md-icon-size: 26px;

    div.starsContainer ion-icon{
        margin-left: 5px; 
        font-size: 2.2em;
        line-height: 2.3em;
    }

    div.extrasContainer ion-icon{
        margin-left: 10px; 
        font-size: 2.2em;
        line-height: 2.3em;
    }   

    div.extrasContainer ion-item{
        margin-left: auto;
        // width: 80%;
        margin-right: auto;
    }

    div.extrasContainer ion-item{
        color: #222 !important;
    }

    div.extrasContainer ion-item ion-label{
        color: #222 !important;
    }

    div.starsContainer { 
        padding-bottom: 30px;
        border-bottom: 2px solid #f33617;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    div.starsContainer  ion-item{
        font-size: 28px;
        line-height: 32px;
        margin-left: 0px !important;
        color: #222 !important;
    }

    div.starsContainer  ion-item.item-block{
        width: auto !important;
        font-size: 28px;
        line-height: 32px;
        margin-left: 0px !important;
        color: #222 !important;
    }
    
    div.starsContainer ion-item ion-icon{
        font-size: 24px;
        // margin-left: 10px !important;
        color: #222 !important;
    }


    .item.item-md .checkbox-md,.item.item-ios .checkbox-ios {
        position: static;
        display: block;
        margin: 10px 10px 6px 15px;
    }

    .checkbox-md .checkbox-icon {
        width: 25px;
        height: 25px;
        border-color: #f33617;
        background-color: #fff;
    }

     .checkbox-md .checkbox-checked {
        border-color: #f53d3d;
        background-color: transparent !important;
    }

     .checkbox-md .checkbox-checked .checkbox-inner {
        left: 7px;
        width: 8px;
        height: 15px;
        border-color: #f33;
    }

    .stepsContainer .button-outline-md {
        border-width: 2px !important;
        font-weight: bold !important;
    } 

    // #map{
    //     height: 100%;
    // }
    
    .active {
        color: #f33617; 
    }

    

}