<!DOCTYPE html>
<ion-header>
  <ion-navbar>
    <ion-title>
      New Booking
    </ion-title>

    <ion-buttons end>
        <livechat-bubble></livechat-bubble>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="stepsContainer" padding text-center>
    <div class="stepOnePrice" text-center>
        <div>
            <h2 class="heading">I want to spend</h2>
        </div>        
        <!--<div class="" text-center>-->
            <!--<ion-label stacked>$</ion-label>-->
            <ion-row>
                <ion-col class="input" width-50 offset-25>
                    <input type="number" [(ngModel)]="bookingRequest.price" ng-required="true"/>
                </ion-col>
                <ion-col class="symbol" width-10>
                    <ion-icon name="logo-euro"></ion-icon>
                </ion-col>
            </ion-row>
        <!--</div>-->
        <div>
            <h2>per room per night</h2>
        </div>        
    </div>

    <div class="stepOneLocation" text-center>
        <div>
            <ion-item>
                <ion-label>WHERE TO?</ion-label>
                <ion-select class="dropdown" [(ngModel)]="bookingRequest.country">
                    <!--<ion-option value="" selected="true">Country..</ion-option>-->
                    <ion-option value="Greece">Greece</ion-option>
                    <ion-option value="France">France</ion-option>
                    <ion-option value="Usa">Usa</ion-option>
                </ion-select>
            </ion-item>
        </div>
        <div class="inputContainer" text-center>
            <ion-item>
                <ion-label>SOMEWHERE SPECIFIC?</ion-label>
                <ion-input placeholder="Text Input" type="text" [(ngModel)]="bookingRequest.location"></ion-input>
                <!--<input type="text" [(ngModel)]="bookingRequest.location" ng-required="true"/>-->
            </ion-item>
        </div>
    </div>
    <div class="bottomSectionBtn" (click)="next(bookingRequest)">
        <button ion-button class="button-block" large outline color="default" outline>Next</button>
    </div>
</ion-content>