<!DOCTYPE html>
<ion-header>
  <ion-navbar>
    <ion-title>
      New Booking
    </ion-title>

    <ion-buttons end>
        <livechat-bubble></livechat-bubble>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="stepsContainer" padding text-center>
    <div>
        <ion-item>
            <ion-label>HOW MANY?</ion-label>
            <ion-select class="dropdown" [(ngModel)]="bookingRequest.guests">
                <ion-option value="11">1 Person</ion-option>
                <ion-option value="21">2 Persons (1 Room)</ion-option>
                <ion-option value="22">2 Persons (2 Rooms)</ion-option>
                <ion-option value="33">3 Persons (3 Rooms)</ion-option>
                <ion-option value="42">4 Guests (2 Room)</ion-option>
                <ion-option value="44">4 Guests (4 Rooms)</ion-option>
            </ion-select>
        </ion-item>
    </div>

    <div class="stepTwoDateRange" text-center>
        <div>
            <h2>Check In / Check Out</h2>
        </div>
        <div class="inputContainer" text-center>
            <ion-label stacked>Destination</ion-label>
            <ion-row>
                <ion-col width-50>
                    <input type="date"  [(ngModel)]="bookingRequest.checkin"/>
                </ion-col>_
                <ion-col width-50>
                    <input type="date"  [(ngModel)]="bookingRequest.checkout"/>
                </ion-col>
            </ion-row>
        </div>
        <!--<ab-dateRange></ab-dateRange>-->
    </div>
    <div class="bottomSectionBtn" (click)="next(bookingRequest)">
        <button ion-button class="button-block" large outline color="default" outline>FIND MY OPTIONS</button>
    </div>
</ion-content>