<!DOCTYPE html>
<ion-header>
  <ion-navbar>
    <ion-title text-center>
      New Booking
    </ion-title>

    <ion-buttons end>
        <livechat-bubble></livechat-bubble>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="stepsContainer" padding text-center>
    <div>
        <ion-item>
            <ion-label>HOW MANY?</ion-label>
            <ion-select class="dropdown" [(ngModel)]="roomSetup" placeholder="Persons" (ionChange)="roomSetupChanged(roomSetup)">
                <ion-option value="11" selected="selected">1 Person</ion-option>
                <ion-option value="21">2 Persons (1 Room)</ion-option>
                <ion-option value="22">2 Persons (2 Rooms)</ion-option>
                <ion-option value="33">3 Persons (3 Rooms)</ion-option>
                <ion-option value="42">4 Guests (2 Room)</ion-option>
                <ion-option value="44">4 Guests (4 Rooms)</ion-option>
            </ion-select>
        </ion-item>
    </div>

    <div class="stepTwoDateRange" text-center>
        <ab-dateRange [bookingObj]="bookingRequest" (checkoutChanged)="setCheckout($event)"></ab-dateRange>
    </div>
    <div class="bottomSectionBtn" (click)="next(bookingRequest)">
        <button ion-button class="button-block" large color="default">FIND MY OPTIONS</button>
    </div>
</ion-content>