<!DOCTYPE html>
<ion-header>
  <ion-navbar>
    <ion-title>
      New Booking
    </ion-title>

    <ion-buttons end>
        <livechat-bubble></livechat-bubble>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="stepsContainer" padding text-center>
    <div>
        <ion-item>
            <ion-label>HOW MANY?</ion-label>
            <ion-select class="dropdown" [(ngModel)]="bookingRequest.guests">
                <ion-option value="1">1 Guest (1 Room)</ion-option>
                <ion-option value="1">2 Guests (1 Room)</ion-option>
                <ion-option value="2">2 Guests (2 Rooms)</ion-option>
                <ion-option value="2">3 Guests (2 Rooms)</ion-option>
                <ion-option value="3">3 Guests (3 Rooms)</ion-option>
                <ion-option value="1">4 Guests (1 Room)</ion-option>
                <ion-option value="2">4 Guests (2 Rooms)</ion-option>
                <ion-option value="2">5 Guests (2 Rooms)</ion-option>
                <ion-option value="3">6 Guests (3 Rooms)</ion-option>
            </ion-select>
        </ion-item>
    </div>

    <div class="stepTwoDateRange" text-center>
        <div>
            <h2>Check In / Check Out</h2>
        </div>
        <div class="inputContainer" text-center>
            <!--<ion-label stacked>Destination</ion-label>-->
            <ion-row>
                <ion-col width-50>
                    <input type="date"  [(ngModel)]="bookingRequest.checkin"/>
                </ion-col>_
                <ion-col width-50>
                    <input type="date"  [(ngModel)]="bookingRequest.checkout"/>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <div class="bottomSectionBtn" (click)="next()">
        <button ion-button class="button-block" large outline color="default" outline>Next</button>
    </div>
</ion-content>