<div class="time-remaining" text-center padding>
    <ion-row>
        <div class="remaining-container">
            <span class="remaining-value">{{message.days}}</span>
            <span class="remaining-title">days</span>
        </div>
        <div class="remaining-container">
            <span class="remaining-value">{{message.hours}}</span>
            <span class="remaining-title">hours</span>
        </div>
        <div class="remaining-container">
            <span class="remaining-value">{{message.minutes}}</span>
            <span class="remaining-title">minutes</span>
        </div>
        <div class="remaining-container">
            <span class="remaining-value">{{message.seconds}}</span>
            <span class="remaining-title">seconds</span>
        </div>
    </ion-row>
</div>